@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load custom fonts */
@font-face {
  font-family: 'Londrina Solid';
  src: url(./fonts/Londrina_Solid/LondrinaSolid-Black.ttf);
  src: url(./fonts/Londrina_Solid/LondrinaSolid-Regular.ttf);
}
@font-face {
  font-family: 'Londrina Light';
  src: url(./fonts/Londrina_Solid/LondrinaSolid-Black.ttf);
  src: url(./fonts/Londrina_Solid/LondrinaSolid-Light.ttf);
}

@font-face {
  font-family: 'PT Root UI';
  src: url(./fonts/PT_Root_UI/PT-Root-UI_Regular.woff2) format('woff2'),
    url(./fonts/PT_Root_UI/PT-Root-UI_Regular.woff) format('woff');
}
@font-face {
  font-family: 'PT Root UI';
  font-weight: 500;
  src: url(./fonts/PT_Root_UI/PT-Root-UI_Medium.woff2) format('woff2'),
    url(./fonts/PT_Root_UI/PT-Root-UI_Medium.woff) format('woff');
}

@font-face {
  font-family: 'PT Root UI';
  font-weight: bold;
  src: url(./fonts/PT_Root_UI/PT-Root-UI_Bold.woff2) format('woff2'),
    url(./fonts/PT_Root_UI/PT-Root-UI_Bold.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter-Regular.woff2) format('woff2'),
    url(./fonts/Inter/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url(./fonts/Inter/Inter-SemiBold.woff2) format('woff2'),
    url(./fonts/Inter/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url(./fonts/Inter/Inter-Bold.woff2) format('woff2'),
    url(./fonts/Inter/Inter-Bold.woff) format('woff');
}

.lodrina {
  font-family: 'Londrina Solid';
}
  
.inter {
  font-family: 'Inter';
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
